services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1
      POSTGRES_DB: base_be_prisma
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
